*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(51, 212, 240);
  /* background-color: linear-gradient(to bottom, #f7f7fe , #dff1ff); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_container{
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
    width: 80%;
    height: 80%;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */


}
 .input_container{
    /* border: 2px solid black; */
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    /* height: 400px;
    width: 300px; */
}
.cityName{
    padding: 10px 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
}
.submitButton{
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;

}

.data_container{
    /* border: 10px solid black; */
    line-height: 2.5rem;
    margin-left: 30px;
    /* height: 400px; */
    /* width: 300px; */
    /* background-color: white; */
    /* border: 3px solid gold; */
    /* margin: 30% 15%; */
    
}